body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
}

/* Heading styles */
h1 {
    font-size: 40px;
    color: red;
    margin-bottom: 0px;
}

.subtitle {
    font-size: 22px;
    margin-top: -5px;
    margin-bottom: 30px;
    color: #000;
}

h2 {
    margin-top: 40px;
    font-size: 32px;
    color: #0b226e;
}

/* NAVBAR COMMON STYLE */
.navbar {
    border: 3px solid #36c0e4;
    padding: 18px;
    border-radius: 15px;
    display: flex;
    gap: 30px;
    width: fit-content;
    margin: auto;
    font-size: 24px;
}

/* Desktop: Horizontal */
.desktop {
    flex-direction: row;
}

/* Mobile: Vertical */
.mobile {
    flex-direction: column;
    gap: 25px;
}